@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  @apply bg-gray-50 dark:bg-gray-950;

  font-size: smaller;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body{
  @apply bg-white;
  
  padding: 2rem 3.5rem;
  width: 210mm; /* A4 width */
  height: 297mm; /* A4 height */
  margin: 0 auto; /* Center the page */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  /* border: 1px solid #ddd; */
  /* background-color: rgb(122, 110, 110); */
}

@page {
  size: A4 portrait !important;
  margin: 0;
  padding: 10px;
}

ul > li{
  list-style-type: '» ';
  /* list-style-type: '🔻'; */
  padding-inline-start: 1rem;

  /* &::marker {
      content: "» ";
      color: #007bff;
      font-weight: bold;
  } */
}
